#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}
# https://grafana.com/docs/loki/latest/configuration/

{% if loki_target != "" %}
target: {{ loki_target }}
{% endif %}

{% if loki_auth_enabled %}
auth_enabled: {{ loki_auth_enabled }}
{% endif %}
{% if loki_server_config != [] %}
server:
  {{ loki_server_config | to_nice_yaml(indent=2) | indent(2, False) }}
{% endif %}
{% if loki_distributor_config != [] %}
distributor:
  {{ loki_distributor_config | to_nice_yaml(indent=2) | indent(2, False) }}
{% endif %}
{% if loki_querier_config != [] %}
querier:
  {{ loki_querier_config | to_nice_yaml(indent=2) | indent(2, False) }}
{% endif %}
{% if loki_ingester_client_config != [] %}
ingester_client:
  {{ loki_ingester_client_config | to_nice_yaml(indent=2) | indent(2, False) }}
{% endif %}
{% if loki_ingester_config != [] %}
ingester:
  {{ loki_ingester_config | to_nice_yaml(indent=2) | indent(2, False) }}
{% endif %}
{% if loki_storage_config != [] %}
storage_config:
  {{ loki_storage_config | to_nice_yaml(indent=2) | indent(2, False) }}
{% endif %}
{% if loki_chunk_store_config != [] %}
chunk_store_config:
  {{ loki_chunk_store_config | to_nice_yaml(indent=2) | indent(2, False) }}
{% endif %}
{% if loki_schema_config != [] %}
schema_config:
  {{ loki_schema_config | to_nice_yaml(indent=2) | indent(2, False) }}
{% endif %}
{% if loki_limits_config != [] %}
limits_config:
  {{ loki_limits_config | to_nice_yaml(indent=2) | indent(2, False) }}
{% endif %}
{% if loki_frontend_worker_config != [] %}
frontend_worker_config:
  {{ loki_frontend_worker_config | to_nice_yaml(indent=2) | indent(2, False) }}
{% endif %}
{% if loki_table_manager_config != [] %}
table_manager:
  {{ loki_table_manager_config | to_nice_yaml(indent=2) | indent(2, False) }}
{% endif %}
{% if loki_runtime_config != [] %}
runtime_config:
  {{ loki_runtime_config | to_nice_yaml(indent=2) | indent(2, False) }}
{% endif %}
{% if loki_ruler_config %}
ruler:
  {{ loki_ruler_config | to_nice_yaml(indent=2) | indent(2, False) }}
{% endif %}
